<footer>
    <h1>Contacts</h1>
    <h2>Let's talk</h2>
    <div class="logos">
        <a href="https://pt.linkedin.com/in/joana-br%C3%ADgida-6440ba22a/en?trk=people-guest_people_search-card" target="_blank" alt="" class="linkedin">
            <figure>
                <img src="assets/images/linkedin2.png" alt="joanabrigida" style="">
                <figcaption></figcaption>
            </figure>
        </a>
        <a href="https://www.behance.net/joanabrgida?tracking_source=search_users|joana%20br%C3%ADgida" target="_blank" alt="" class="behance">
            <figure>
                <img src="assets/images/behance2.png" alt="joanabrigida" style="">
                <figcaption></figcaption>
            </figure>
        </a>
    </div>

    <figure class="logos">
        <img src="assets/images/mail2.png" alt="joanabrigida" style="">
        <figcaption>joanabbrigida@gmail.com</figcaption>
    </figure>
</footer>
<script src="/assets/js/script.js"> </script>