.sobre {
    h1 {
        color: $black-color;
        @include titleFont;
        @include heading2;
        font-weight: 400;
    }

    h2 {
        color: $primary-color;
        @include handFont;
        font-size: 120px;
        font-weight: 400;
        position: absolute;
        top: 45%;
        left: 47%;
        margin: 0;
        transform: rotate(-20deg);
    }

    .intro {
        @include mainFont;
        @include paragraph;
        font-weight: 800;
    }

    .main-p {
        @include mainFont;
        @include paragraph;
    }

    .aboutgrid {
        width: 100%;
    }

    .imagebox {
        position: relative;
    }

    .textbox {
        margin: 0 20px;
    }

    figure {
        margin: 0;
    }

    img {
        width: 100%;
        margin-bottom: 30px;
    }

    @media (min-width: $tiny-media) {
        h2 {
            font-size: 150px;
            top: 55%;
            left: 60%;
        }
    }

    @media (min-width: $small-media) {
        padding: 0;
        
        .aboutgrid {
            padding: 0 20px;
            width: calc(100% - 40px);
            display: grid;
            grid-template-columns: 3fr 2fr;
            align-items: start;
        }

        .intro {
            margin-top: 0;
        }

        h2 {
            top: 60%;
            left: 50%;
        }

    }

    @media (min-width: $medium-media) {
        .aboutgrid {
            align-items: end;
        }

        h2 {
            font-size: 190px;
            top: 0;
            left: 72%;
        }
    }

}