.sobre {
    h1 {
        color: $black-color;
        @include titleFont;
        @include heading2;
        font-weight: 400;
    }

    h2 {
        color: $primary-color;
        @include handFont;
        font-size: 120px;
        font-weight: 400;
        position: absolute;
        top: 90%;
        left: 70%;
        margin: 0;
    }

    .intro {
        @include mainFont;
        @include paragraph;
        font-weight: 800;
    }

    .main-p {
        @include mainFont;
        @include paragraph;
    }

    .aboutgrid {
        width: 100%;
    }

    .imagebox {
        position: relative;
    }

    .textbox {
        margin: 0 20px;
    }

    figure {
        margin: 0;
    }

    img {
        width: 100%;
    }

    @media (min-width: $small-media) {
            padding: 0;
        
        .aboutgrid {
            padding: 0 20px;
            width: calc(100% - 40px);
            display: grid;
            grid-template-columns: 3fr 2fr;
            align-items: end;
        }

        h2 {
            top: 50%;
            left: 80%;
        }

    }

}