.pagebook {
    background-color: $white-color;

    h1 {
        align-self: flex-start;
        padding-left: 16px;
        @include titleFont;
        @include fontLarge;
        font-weight: 400;
    }
    
    p {
        align-self: flex-start;
        padding: 0 20px;
        @include mainFont;
        @include paragraph; 
    }

    figure {
        margin: 20px 0;
    }

    img {
        margin: 0;
    }

    .captionbook {
        @include mainFont;
        @include paragraph;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .project2img {
        width: calc(100% - 40px);
        margin: 0 20px;
    }

    .project2fig {
        margin: 0;
    }

    @media (min-width: $tiny-media) {
        max-width: 500px;
    }

    @media (min-width: $small-media) {
        max-width: 740px;
        .cabecalho {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

    }

    @media (min-width: $tiny-media) {
        max-width: 500px;
    }
    
    @media (min-width: $small-media) {
            max-width: 740px;
    }
    @media (min-width: $medium-media) {
            max-width: 1100px;
    }
}