body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100svh;
    background-color: $white-color;
}

main .contacts {


h1 {
    color: $secondary-color;
    @include titleFont;
}
}