body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100svh;
    background-color: $white-color;
}

.contacts {

    h1 {
        color: $black-color;
        @include titleFont;
        @include heading1;
        font-weight: 400;
    }

    p {
        @include mainFont;
        @include paragraph;
        font-weight: 300;

    }

    img {
        width: 60px;
    }
}