footer {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 220px;
    border-bottom: 0;
    position: relative;
    padding: 20px;
    gap: 20px;


    h1 {
        @include titleFont;
        color: $white-color;
        font-weight: 400;
    }

    h2 {
        @include handFont;
        @include heading1;
        margin-bottom: 0;
        margin-top: 0;
        color: $white-color;
        position: absolute;
        right: 0;
        top: 0px;
        transform: rotate(20deg);
        font-weight: 400;
    }

    .logos {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
    }

    img {
        height: 30px;
        
    }

    figure {
        margin: 0;
    }
    
    figcaption {
        @include mainFont;
        @include fontSmall;
        color: $white-color;
    }

    @media (min-width: $small-media) {
        h2 {
            font-size: 80px;
        }
    }

}

