header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    height: rem(50);
    padding: 10px;
    align-items: center;

    h1 {
        @include mainFont;
        @include fontMedium;
        margin-top: 0;
        color: $secondary-color;
    }

    ul {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        column-gap: 20px;
    }

    a {
        color: aliceblue;
        text-decoration: none;
        &.active {text-decoration: underline;}
        @include mainFont;
    }
}
