header {
    background-color: $white-color;
    display: flex;
    justify-content: space-between;
    height: rem(70);
    padding: 10px;
    
    margin: 0;
    padding: 0;*/



    ul {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        column-gap: 20px;
        
    }

    a {
        color: $black-color;
        text-decoration: none;
        &.active {text-decoration: underline;}
        @include titleFont;
        @include paragraph;
    }

    .logo{
        display: flex;
        margin-top: 0;
        column-gap: 20px;
        width: auto;
        height: 60%;
        padding: 0;
    }

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }