header {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    height: rem(50);
    
    h1 {
        @include mainFont;
        @include fontMedium;
        margin-top: 0;
        color: $secondary-color;
    }
}
