.pagephone {
    background-color: $white-color;

    h1 {
        align-self: flex-start;
        padding-left: 20px;
        @include titleFont;
        @include fontLarge;
        font-weight: 400;
    }
    p {
        align-self: flex-start;
        padding: 0 20px;
        @include mainFont;
        @include paragraph; 
    }

    .captionphone {
        @include mainFont;
        @include paragraph;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 0;
    }

    ul {
        @include mainFont;
        @include paragraph;
        margin: 0;
        padding-right: 40px;
        margin-bottom: 40px;
    }

    li {
        margin-top: 20px;
    }

    .card {
        width: 300px;
        margin-top: 5px;
    }

    .project3img {
        width: 100%;
        margin-top: 40px;
    }

    .project3fig {
        margin: 0;
    }

    .cardfig {
        margin-top: 0;
        margin-bottom: 0;
    }

    @media (min-width: $tiny-media) {
        .card {
            width: 450px;
        }
    }
    
    @media (min-width: $small-media) {
        .cabecalho {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .card {
            width: 600px;
        }
    }

    @media (min-width: $medium-media) {
        .card {
            width: 650px;
        }

        .project3img {
            margin-bottom: 40px;
        }
    }
}