.pagephone {
    background-color: $white-color;

    h1 {
        align-self: flex-start;
        padding-left: 16px;
        @include titleFont;
        @include fontLarge;
        font-weight: 400;
    }
    p {
        align-self: flex-start;
        padding: 0 16px;
        @include mainFont;
        @include paragraph; 
    }

    .captionphone {
        @include mainFont;
        @include paragraph;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ul {
        @include mainFont;
        @include paragraph;
        margin: 0;
        padding-right: 40px;
    }

    li {
        margin-top: 20px;
    }

    .card {
        width: 300px;
        margin-top: 20px;
    }

    .project3img {
        width: 100svw;
    }
}