.portfolio2 {
    margin-bottom: 0;
    background-color: $white-color;

    h1 {
      @include titleFont;
      @include heading2;
      font-weight: 400;  
    }

    div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }

    a {
        @include titleFont;
        @include fontMedium;
        position: relative;
    }

    

    .phone-img {
        transform: rotate(333deg);
    }

    .text-paez {
        position: absolute;
        top: 80%;
        left: 40%;
        transform: translate(-50%, -50%) rotate(-26deg);
        color: $secondary-color;
        font-weight: 500;
    }

    .text-book {
        position: absolute;
        top: 0%;
        left: 55%;
        transform: translate(-50%, -50%) rotate(20deg);
        color: $terciary-color;
        font-weight: 500;
    }

    .text-phone {
        position: absolute;
        top: 40%;
        left: 72%;
        transform: translate(-50%, -50%) rotate(63deg);
        color: $grey2-color;
        font-weight: 500;
    }

    img {
        transition: all 0.3s;
        width: 80%;
    }

    .paez {
        grid-column: 1 / 5;
        /*grid-row: 1 / 2;*/
    }

    .book {
        grid-column: 2 / 6;
        /*grid-row: 2 / 3;*/
    }

    .phone {
        grid-column: 1 / 5;
        /*grid-row: 3 / 4;*/
    }

    @media (min-width: $small-media) {
        .text-paez {
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%) rotate(-26deg);
        }
    
        .paez-img:hover ~ .text-paez {
            opacity: 100%;
        }

        .text-book {
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%) rotate(-26deg);
        }
    
        .book-img:hover ~ .text-book {
            opacity: 100%;
        }
    
        span {
            transition: all 0.3s;
            opacity: 0;
        }
    
        span:hover {
            opacity: 100%;
        }

        img:hover {
            filter: contrast(0) hue-rotate(140deg) saturate(100%) brightness(100%);
        }
    }
}