.portfolio2 {
    margin-bottom: 0;

    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    img {
        transition: all 0.3s;
        width: 40px;
    }

    img:hover {
        filter: contrast(0) hue-rotate(140deg) saturate(100%) brightness(100%);
    }

    .paez {
        grid-column: 1 / 5;
        /*grid-row: 1 / 2;*/
    }

    .book {
        grid-column: 2 / 6;
        /*grid-row: 2 / 3;*/
    }

    .phone {
        grid-column: 1 / 5;
        /*grid-row: 3 / 4;*/
    }
}

