@import
    "partials/functions",
    "partials/mixins",
    "partials/colors",
    "partials/media",
    "partials/headerstyle",
    "partials/layout",
    "partials/footerstyle"
    //"partials/animations"
;

button.primary {
  border: 1px solid #f00;
  color: blue;
  padding: 6px 10px;
  font-size: 18px;
  background: green;
}

button.secondary {
  @extend .primary;
  background: red;
}